.teamMember {
  width: 17.5rem;
  background-color: rgb(255, 252, 252);
  margin-top: 1.25rem;
  position: relative;
  border-radius: 0.9375rem;
}

.teamMember .header {
  background-color: #f0f0f0;
}

.teamMember img {
  width: 6.25rem;
  border-radius: 50%;
  position: relative;
  bottom: -3.125rem;
}

.teamMember .footer {
  background: #ffffff;
  padding-top: 4.375rem;
}

.teamMember .footer h4 {
  color: #6278f7;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: relative;
}

.teamMember .footer h5 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #212121;
  padding: 0 1rem;
}

.deleteMember {
  position: absolute;
  right: -0.9375rem;
  top: -1.25rem;
}

.favorite {
  margin-bottom: 1.25rem;
}
