.teamMember {
  width: 280px;
  background-color: rgb(255, 252, 252);
  margin-top: 20px;
  position: relative;
  border-radius: 15px;
}

.teamMember .header {
  background-color: #f0f0f0;
}

.teamMember img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.teamMember .footer {
  background: #ffffff;
  padding-top: 70px;
}

.teamMember .footer h4 {
  color: #6278f7;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.teamMember .footer h5 {
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  padding: 0 16px;
}

.deleteMember {
  position: absolute;
  right: -15px;
  top: -20px;
}
