.Button {
    background-color: #6278F7;
    width: 11.6875rem;
    height: 5rem;
    padding: 2rem;
    top: 82.0625rem;
    left: 15.9375rem;
    border-radius: 0.625rem;
    border: 0;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.Button:hover {
    color: #95ffd4;
}