.team {
    text-align: center;
    padding: 32px;
    position: relative;
}

.team h3 {
    font-size: 32px;
    border-bottom: 2px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.team .members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 40px;
    border: none;
    padding: 0;
}