.team {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.team h3 {
    font-size: 2rem;
    border-bottom: 0.125rem solid;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.team .members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.input-color {
    position: absolute;
    top: 1.25rem;
    right: 3.125rem;
    width: 2.5rem;
    border: none;
    padding: 0;
}