.Footer {
        background: #6278F7;
        color: #FFF;
        padding: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-left: 0.3125rem;
}

.icons:last-child {
    margin-right: 0;
}

.singleIcon {
    padding: 0 0.9375rem 0 0;
}

.Footer p {
    padding: 0.3125rem; 
}